
<style>
  * {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style-type: none !important;
    font-size: 18px;
}
.img-logo img {
width: 35%;
}
ul.navbar-nav a:hover {
color:rgb(29, 63, 128);
font-weight: 400;
}
a.nav-link {
    color: black;
    font-weight: 400;
   
}
</style>
<section class="header-top">
    <header class="p-3 mb-3 border-bottom">
        <nav class="navbar  navbar-expand-lg ">
            <div class="container">
              <div class="img-logo">
                <img src="<%= link %>" alt="" />
               </div>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                  <li class="nav-item  pe-3 ">
                    <a class="nav-link"  href="./index.html">О мессенджере</a>
                  </li>
                  <li class="nav-item   pe-3 ">
                    <a class="nav-link" href="./about us.html">Контакты</a>
                  </li>
                  <li class="nav-item   pe-3" >
                    <a class="nav-link" href="./services.html">О компании</a>
                  </li>
                  <li class="nav-item  pe-3">
                    <a class="nav-link" href="./where to find us.html">Реклама</a>
                  </li>
                </ul>
                
              </div>
            </div>
          </nav>
      </header>
  </section>
  